<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="7">
    <test verbose="2" preserve-order="true" name="order">
        <packages>
            <package name="org.example.testCase.*">
                <exclude name="searchTest"/>
            </package>
        </packages>
<!--        <classes>-->
<!--            <class name="org.example.testCase.SearchTest">-->
<!--                <methods>-->
<!--                    <include name="openBrowser"/>-->
<!--                    <include name="search"/>-->
<!--                    <include name="quitBrowser"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
    </test>
</suite>